@using App.Components
@model App.Components.CategorySidebar.CategorySidebarData
@{
    int level = Model.level;
}
@* neu cac pt trong Categories >0 -> batdau Render *@
@if (Model.Categories.Count > 0)
{
   
    @if(level == 0){
        @Html.Raw("<div class=\"categorysidebar\">");

        <h2>
            <a asp-controller="ViewPost" asp-action="Index" asp-route-categoryslug="">
                    Tat ca danh muc
            </a>
        </h2>
    }

    <ul>
        @foreach (var category in Model.Categories)
        {
             // kiem tra categorySlug = Model.categoryslug --> tao active de css 
            var cssActive = (category.Slug == Model.categoryslug) ? "active" : null;

            <li>
                <a class="@cssActive" asp-controller="ViewPost" asp-action="Index" asp-route-categoryslug="@category.Slug">
                    @category.Title
                </a>

                @* kiểm tra category hiện tại có category con ko => gọi đệ quy *@
                    @if (category.CategoryChildren?.Count > 0)
                    {
                        @await Component.InvokeAsync("App.Components.CategorySidebar",
                                 new CategorySidebar.CategorySidebarData()
                        {
                            Categories = category.CategoryChildren.ToList(),
                            level = level + 1,
                            categoryslug = ViewBag.categoryslug
                        })
                    }
            </li>
        }
    </ul>

    @if(level == 0){
        @Html.Raw("</div>")
    }
}


@* @using App.Components
@model App.Components.CategorySidebar.CategorySidebarData
@{
int level = Model.level;
}
@if (Model.Categories.Count > 0)
{
@if (level == 0)
{
@Html.Raw("<div class=\"categorysidebar\">");
<h3><a asp-controller="ViewPost" asp-action="Index" asp-route-categoryslug="">
Tất cả chuyên mục
</a>
</h3>
}
<ul>
@foreach (var category in Model.Categories)
{
var cssActive = (category.Slug == Model.categoryslug) ? "active" : null;
<li>
<a class="@cssActive" asp-controller="ViewPost" asp-action="Index" asp-route-categoryslug="@category.Slug">
@category.Title
</a>
@if (category.CategoryChildren?.Count > 0)
{
@await Component.InvokeAsync("App.Components.CategorySidebar",
new CategorySidebar.CategorySidebarData()
{
Categories = category.CategoryChildren.ToList(),
level = level + 1,
categoryslug = ViewBag.categoryslug
})
}
</li>
}
</ul>
@if (level == 0)
{
@Html.Raw("</div>");
}
} *@